---
import BaseLayoutES from "@layouts/BaseLayoutES.astro";
import "@styles/globals.css";
const pageTitle = "Almacenamiento en la nube";
import ContactanosBoton from "@components/ComponetesES/ContactanosBoton.astro";
// TODO: DESCRIPCION
const descripcion =
  "El almacenamiento en la nube proporciona soluciones seguras y escalables para gestionar datos de manera eficiente. Permite acceso remoto, respaldo automático y optimización de recursos, adaptándose a las necesidades de empresas de todos los tamaños.";
//TODO: Keywords
const keywords = [
  "almacenamiento en la nube",
  "soluciones de almacenamiento seguro",
  "almacenamiento escalable",
  "gestión eficiente de datos",
  "acceso remoto seguro",
  "respaldo automático de datos",
  "optimización de recursos en la nube",
  "soluciones de respaldo en la nube",
  "gestión de almacenamiento empresarial",
];

const url = "servicios/almacenamiento-en-la-nube";
---

<BaseLayoutES
  pageTitle={pageTitle}
  description={descripcion}
  keywords={keywords}
  url={url}
>
  <h1
    class="font-[600] text-[24px] text-[#FFF] mt-16 md:-ml-12 px-[30px] md:px-40"
  >
    Almacenamiento en la nube
  </h1>
  <article
    class="text-center flex flex-col gap-8 mt-16 md:items-center md:mt-28 px-[38px] md:px-40"
  >
    <section class="md:w-[554px] lg:w-[754px]" data-aos="flip-right">
      <p
        class="text-[#7C7C7C] font-[600] text-[14px] md:text-[20px] md:leading-[25.99px]"
      >
        Una manera <span class="text-gradient"
          >segura de acceder y guardar datos
        </span> en <span class="text-[#FFF]"
          >diferentes dispositivos en tiempo real</span
        >, útil para equipos de trabajo ó almacenamiento personal.
      </p>
    </section>
  </article>
  <article class="block md:hidden px-[30px] md:px-40">
    <section
      class="mt-16 bg-[#26282D] rounded-[9px] text-center flex flex-col items-center gap-4 py-6 px-1"
      data-aos="flip-up"
    >
      <div class="flex flex-col items-center gap-4 py-3 px-1">
        <div class="svg-icon-left">
          <svg
            width="36"
            height="21"
            viewBox="0 0 36 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M31.5 19.5H22.5V15H19.95C18.3 18.6 14.55 21 10.5 21C4.65 21 0 16.35 0 10.5C0 4.65 4.65 0 10.5 0C14.55 0 18.3 2.4 19.95 6H36V15H31.5V19.5ZM25.5 16.5H28.5V12H33V9H17.85L17.55 7.95C16.5 4.95 13.65 3 10.5 3C6.3 3 3 6.3 3 10.5C3 14.7 6.3 18 10.5 18C13.65 18 16.5 16.05 17.55 13.05L17.85 12H25.5V16.5ZM10.5 15C7.95 15 6 13.05 6 10.5C6 7.95 7.95 6 10.5 6C13.05 6 15 7.95 15 10.5C15 13.05 13.05 15 10.5 15ZM10.5 9C9.6 9 9 9.6 9 10.5C9 11.4 9.6 12 10.5 12C11.4 12 12 11.4 12 10.5C12 9.6 11.4 9 10.5 9Z"
              fill="url(#paint0_linear_398_3735)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_398_3735"
                x1="-1.78814e-07"
                y1="14"
                x2="36"
                y2="14"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2
          class="font-[600] text-[#FFF] text-[15.46px] text-gradient-animated"
        >
          Accesibilidad:
        </h2>
        <p class="text-[14px]">
          Otorga a las empresas acceder a sus datos desde cualquier lugar y en
          cualquier momento. Esta solución flexible y segura optimiza la gestión
          de información y mejora la colaboración en tiempo real con equipos
          multidisciplinarios.
        </p>
      </div>
    </section>
    <section
      class="mt-16 bg-[#26282D] rounded-[9px] text-center flex flex-col items-center gap-4 py-6 px-1"
      data-aos="flip-down"
    >
      <div class="flex flex-col items-center gap-4 py-3 px-1">
        <div class="svg-icon-right">
          <svg
            width="34"
            height="19"
            viewBox="0 0 34 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M32.9092 1.17982L32.9111 1.18419C32.9679 1.31205 32.9979 1.44851 33 1.58613V9.49541C33 9.77569 32.8841 10.0489 32.6707 10.2537C32.4566 10.4591 32.1619 10.578 31.8505 10.578C31.5391 10.578 31.2444 10.4591 31.0302 10.2537C30.8168 10.0489 30.701 9.77569 30.701 9.49541V5.39656V4.22266L29.8545 5.03603L19.479 15.0062L19.4778 15.0074C19.3719 15.1099 19.2447 15.1923 19.1031 15.2489C18.9615 15.3055 18.8089 15.3349 18.6543 15.3349C18.4997 15.3349 18.3471 15.3055 18.2055 15.2489C18.0639 15.1923 17.9367 15.1099 17.8308 15.0074L17.8298 15.0065L12.4029 9.78399L12.0564 9.45054L11.7097 9.78379L2.98375 18.1714L2.98262 18.1725C2.87666 18.275 2.74947 18.3574 2.60788 18.414C2.46625 18.4706 2.31366 18.5 2.15909 18.5C2.00451 18.5 1.85192 18.4706 1.7103 18.414C1.5687 18.3574 1.44152 18.275 1.33556 18.1725L1.3326 18.1697C1.22576 18.068 1.14214 17.9482 1.08548 17.8177C1.02885 17.6873 1 17.5482 1 17.4083C1 17.2683 1.02885 17.1292 1.08548 16.9988L0.62686 16.7996L1.08549 16.9988C1.14214 16.8683 1.22576 16.7485 1.3326 16.6469L1.33408 16.6454L11.2312 7.15002L11.2327 7.1486C11.3386 7.0461 11.4658 6.96369 11.6074 6.90709C11.7491 6.85049 11.9016 6.8211 12.0562 6.8211C12.2108 6.8211 12.3634 6.85049 12.505 6.90709C12.6466 6.96369 12.7738 7.0461 12.8797 7.1486L12.8807 7.14949L18.3076 12.372L18.6538 12.7051L19.0005 12.3725L28.2213 3.52594L29.1185 2.66514H27.8751H23.6029C23.2915 2.66514 22.9968 2.54626 22.7826 2.34081C22.5692 2.13604 22.4533 1.86284 22.4533 1.58257C22.4533 1.3023 22.5692 1.02909 22.7826 0.824324C22.9968 0.618878 23.2915 0.5 23.6029 0.5H31.8473C31.9994 0.502095 32.1492 0.53262 32.288 0.589407L32.288 0.589426L32.2922 0.591095C32.5765 0.704371 32.796 0.918415 32.9092 1.17982Z"
              fill="url(#paint0_linear_403_3741)"
              stroke="url(#paint1_linear_403_3741)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_403_3741"
                x1="0.5"
                y1="6"
                x2="33.5"
                y2="6"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_403_3741"
                x1="0.5"
                y1="5.5"
                x2="33.5"
                y2="5.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2
          class="font-[600] text-[#FFF] text-[15.46px] text-gradient-animated"
        >
          Escalabilidad
        </h2>
        <p class="text-[14px]">
          Permite a las empresas ajustar su capacidad de almacenamiento según
          sus necesidades. Este enfoque flexible facilita el crecimiento y la
          optimización de recursos.
        </p>
      </div>
    </section>
    <section
      class="mt-16 bg-[#26282D] rounded-[9px] text-center flex flex-col items-center gap-4 py-6 px-1"
      data-aos="flip-up"
    >
      <div class="flex flex-col items-center gap-4 py-3 px-1">
        <div class="svg-icon">
          <svg
            width="18"
            height="30"
            viewBox="0 0 18 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15 9.75H18C18 5.4945 13.8675 3.5535 10.5 3.1065V0H7.5V3.1065C4.1325 3.5535 0 5.4945 0 9.75C0 13.809 3.999 15.9195 7.5 16.395V23.85C5.328 23.4735 3 22.314 3 20.25H0C0 24.1335 3.6375 26.4285 7.5 26.904V30H10.5V26.895C13.8675 26.448 18 24.5055 18 20.25C18 15.9945 13.8675 14.0535 10.5 13.6065V6.15C12.495 6.5085 15 7.5615 15 9.75ZM3 9.75C3 7.5615 5.505 6.5085 7.5 6.15V13.3485C5.4435 12.969 3 11.8455 3 9.75ZM15 20.25C15 22.4385 12.495 23.4915 10.5 23.85V16.65C12.495 17.0085 15 18.0615 15 20.25Z"
              fill="url(#paint0_linear_922_334)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_922_334"
                x1="0"
                y1="15"
                x2="18"
                y2="15"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2
          class="font-[600] text-[#FFF] text-[15.46px] text-gradient-animated"
        >
          Costos
        </h2>
        <p class="text-[14px]">
          Ofrece costos flexibles y escalables, adaptándose a las necesidades de
          cada empresa. Con un modelo de pago por uso, permite a las
          organizaciones optimizar sus gastos y evitar grandes inversiones
          iniciales en infraestructura.
        </p>
      </div>
    </section>
    <div class="mt-16 flex justify-center items-center">
      <ContactanosBoton />
    </div>
  </article>
  <article class="hidden md:flex gap-4 mt-32 justify-around px-[30px] md:px-40">
    <section class="w-[276px]" data-aos="flip-left">
      <div class="flex flex-col justify-center gap-4 py-3 px-4">
        <div class="svg-icon">
          <svg
            width="29"
            height="48"
            viewBox="0 0 29 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24 15.6H28.8C28.8 8.7912 22.188 5.6856 16.8 4.9704V0H12V4.9704C6.612 5.6856 0 8.7912 0 15.6C0 22.0944 6.3984 25.4712 12 26.232V38.16C8.5248 37.5576 4.8 35.7024 4.8 32.4H0C0 38.6136 5.82 42.2856 12 43.0464V48H16.8V43.032C22.188 42.3168 28.8 39.2088 28.8 32.4C28.8 25.5912 22.188 22.4856 16.8 21.7704V9.84C19.992 10.4136 24 12.0984 24 15.6ZM4.8 15.6C4.8 12.0984 8.808 10.4136 12 9.84V21.3576C8.7096 20.7504 4.8 18.9528 4.8 15.6ZM24 32.4C24 35.9016 19.992 37.5864 16.8 38.16V26.64C19.992 27.2136 24 28.8984 24 32.4Z"
              fill="url(#paint0_linear_922_329)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_922_329"
                x1="0"
                y1="24"
                x2="28.8"
                y2="24"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2
          class="font-[600] text-[#FFF] text-[25px] leading-[32.49px] text-gradient-animated"
        >
          Costos
        </h2>
        <p class="text-[19px] leading-[25.99px] font-[400]">
          Ofrece costos flexibles y escalables, adaptándose a las necesidades de
          cada empresa. Con un modelo de pago por uso, permite a las
          organizaciones optimizar sus gastos y evitar grandes inversiones
          iniciales en infraestructura.
        </p>
      </div>
    </section>
    <section class="w-[276px]" data-aos="flip-right">
      <div class="flex flex-col justify-center gap-4 py-3 px-4">
        <div class="svg-icon-right">
          <svg
            width="53"
            height="31"
            viewBox="0 0 53 31"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M52.0511 1.89485L52.0511 1.89486L52.0542 1.90188C52.1454 2.10717 52.1936 2.32626 52.197 2.54719V15.2502C52.197 15.7003 52.0109 16.1391 51.6681 16.468C51.3242 16.798 50.8509 16.9889 50.3508 16.9889C49.8506 16.9889 49.3773 16.798 49.0334 16.468C48.6906 16.1391 48.5046 15.7003 48.5046 15.2502V8.6672V6.78184L47.1451 8.08817L30.4815 24.1009L30.4796 24.1027C30.3094 24.2673 30.1051 24.3997 29.8777 24.4906C29.6502 24.5815 29.4052 24.6287 29.1569 24.6287C28.9087 24.6287 28.6636 24.5815 28.4361 24.4906C28.2087 24.3997 28.0044 24.2673 27.8343 24.1027L27.8328 24.1013L19.1168 15.7137L18.5603 15.1781L18.0035 15.7134L3.98905 29.1844L3.98723 29.1861C3.81705 29.3507 3.61278 29.4831 3.38538 29.574C3.15792 29.6649 2.91286 29.7121 2.66459 29.7121C2.41633 29.7121 2.17126 29.6649 1.94381 29.574C1.7164 29.4831 1.51213 29.3507 1.34195 29.1861L1.34197 29.1861L1.33721 29.1816C1.16562 29.0183 1.03132 28.8259 0.940325 28.6163C0.849371 28.4069 0.80303 28.1835 0.80303 27.9587C0.80303 27.7339 0.849371 27.5105 0.940324 27.3011C1.03132 27.0915 1.16562 26.8991 1.33721 26.7358L1.33958 26.7336L17.235 11.4834L17.2373 11.4811C17.4075 11.3165 17.6118 11.1841 17.8392 11.0932C18.0667 11.0023 18.3117 10.9551 18.56 10.9551C18.8082 10.9551 19.0533 11.0023 19.2808 11.0932C19.5082 11.1841 19.7124 11.3165 19.8826 11.4811L19.8841 11.4825L28.6001 19.8701L29.1561 20.4052L29.7129 19.871L44.5221 5.66287L45.9631 4.28037H43.9661H37.1046C36.6045 4.28037 36.1312 4.08945 35.7873 3.75949C35.4445 3.43061 35.2584 2.99184 35.2584 2.5417C35.2584 2.09157 35.4445 1.65279 35.7873 1.32392C36.1312 0.993955 36.6045 0.80303 37.1046 0.80303H50.3457C50.59 0.806395 50.8305 0.85542 51.0535 0.946623L51.0535 0.946653L51.0602 0.949334C51.5169 1.13126 51.8694 1.47503 52.0511 1.89485Z"
              fill="url(#paint0_linear_765_3376)"
              stroke="url(#paint1_linear_765_3376)"
              stroke-width="1.60606"></path>
            <defs>
              <linearGradient
                id="paint0_linear_765_3376"
                x1="1.02822e-07"
                y1="9.63636"
                x2="53"
                y2="9.63636"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_765_3376"
                x1="-3.64253e-07"
                y1="8.83333"
                x2="53"
                y2="8.83334"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2
          class="font-[600] text-[#FFF] text-[25px] leading-[32.49px] text-gradient-animated"
        >
          Escalabilidad
        </h2>
        <p class="text-[19px] leading-[25.99px] font-[400]">
          Permite a las empresas ajustar su capacidad de almacenamiento según
          sus necesidades. Este enfoque flexible facilita el crecimiento y la
          optimización de recursos.
        </p>
      </div>
    </section>
  </article>
  <article class="hidden md:flex md:justify-center px-[30px] md:px-40">
    <section
      class="mt-16 bg-[#26282D] rounded-[9px] text-center flex flex-col items-center gap-8 py-6 px-1 md:w-[584px] lg:w-[896px] h-[274px]"
      data-aos="flip-up"
    >
      <div class="flex flex-col items-center gap-8 py-3 px-1">
        <div class="svg-icon-left">
          <svg
            width="57"
            height="33"
            viewBox="0 0 57 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M49.5 30.6429H35.3571V23.5714H31.35C28.7571 29.2286 22.8643 33 16.5 33C7.30714 33 0 25.6929 0 16.5C0 7.30714 7.30714 0 16.5 0C22.8643 0 28.7571 3.77143 31.35 9.42857H56.5714V23.5714H49.5V30.6429ZM40.0714 25.9286H44.7857V18.8571H51.8571V14.1429H28.05L27.5786 12.4929C25.9286 7.77857 21.45 4.71429 16.5 4.71429C9.9 4.71429 4.71429 9.9 4.71429 16.5C4.71429 23.1 9.9 28.2857 16.5 28.2857C21.45 28.2857 25.9286 25.2214 27.5786 20.5071L28.05 18.8571H40.0714V25.9286ZM16.5 23.5714C12.4929 23.5714 9.42857 20.5071 9.42857 16.5C9.42857 12.4929 12.4929 9.42857 16.5 9.42857C20.5071 9.42857 23.5714 12.4929 23.5714 16.5C23.5714 20.5071 20.5071 23.5714 16.5 23.5714ZM16.5 14.1429C15.0857 14.1429 14.1429 15.0857 14.1429 16.5C14.1429 17.9143 15.0857 18.8571 16.5 18.8571C17.9143 18.8571 18.8571 17.9143 18.8571 16.5C18.8571 15.0857 17.9143 14.1429 16.5 14.1429Z"
              fill="url(#paint0_linear_765_2450)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_765_2450"
                x1="-2.80993e-07"
                y1="22"
                x2="56.5714"
                y2="22"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2
          class="font-[600] text-[#FFF] text-[25px] leading-[32.49px] text-gradient-animated"
        >
          Accesibilidad
        </h2>
        <p
          class="text-[20px] leading-[25.99px] font-[400] w-[554px] lg:w-[754px]"
        >
          Otorga a las empresas acceder a sus datos desde cualquier lugar y en
          cualquier momento. Esta solución flexible y segura optimiza la gestión
          de información y mejora la colaboración en tiempo real con equipos
          multidisciplinarios.
        </p>
      </div>
    </section>
  </article>
  <div class="mt-36 hidden md:flex md:justify-center">
    <ContactanosBoton />
  </div>
</BaseLayoutES>
