---

---

<div class="container w-full inline-flex flex-nowrap overflow-hidden">
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-2 [&_img]:max-w-none animate-infinite-scroll">
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Logo_C_sharp.svg/1200px-Logo_C_sharp.svg.png" alt="C#" width="41.79px" height="47.76"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Angular_gradient.png" alt="Angular logo" width="44.77px" height="47.76px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" alt="React logo" width="55.71px" height="55.71px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://cdn.freebiesupply.com/logos/large/2x/nodejs-1-logo-png-transparent.png" alt="NodeJs logo" width="53.72px" height="32.83px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://pngimg.com/d/mysql_PNG23.png" alt="MySQL logo" width="46.76px" height="46.76px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/sql-server-icon.png" alt="SQL Server logo" width="48.75px" height="40.79px"/>
        </li>
    </ul>
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-2 [&_img]:max-w-none animate-infinite-scroll">
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Logo_C_sharp.svg/1200px-Logo_C_sharp.svg.png" alt="C#" width="41.79px" height="47.76"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Angular_gradient.png" alt="Angular logo" width="44.77px" height="47.76px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" alt="React logo" width="55.71px" height="55.71px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://cdn.freebiesupply.com/logos/large/2x/nodejs-1-logo-png-transparent.png" alt="NodeJs logo" width="53.72px" height="32.83px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://pngimg.com/d/mysql_PNG23.png" alt="MySQL logo" width="46.76px" height="46.76px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/sql-server-icon.png" alt="SQL Server logo" width="48.75px" height="40.79px"/>
        </li>
    </ul>
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-2 [&_img]:max-w-none animate-infinite-scroll">
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Logo_C_sharp.svg/1200px-Logo_C_sharp.svg.png" alt="C#" width="41.79px" height="47.76"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Angular_gradient.png" alt="Angular logo" width="44.77px" height="47.76px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" alt="React logo" width="55.71px" height="55.71px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://cdn.freebiesupply.com/logos/large/2x/nodejs-1-logo-png-transparent.png" alt="NodeJs logo" width="53.72px" height="32.83px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://pngimg.com/d/mysql_PNG23.png" alt="MySQL logo" width="46.76px" height="46.76px"/>
        </li>
        <li class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/sql-server-icon.png" alt="SQL Server logo" width="48.75px" height="40.79px"/>
        </li>
    </ul>
</div>