---
import { Image } from "astro:assets";
---

<div class="relative w-full inline-flex flex-nowrap overflow-hidden">
  <!-- Sombra izquierda -->
  <div
    class="absolute inset-y-0 -left-2 w-24 z-10 pointer-events-none"
    style="background: linear-gradient(to right, #191a1ef1, transparent);"
  >
  </div>

  <!-- Contenido principal -->
  <div class="flex-1 flex items-center justify-center">
    <ul
      class="flex items-center justify-center md:justify-start [&_li]:mx-2 [&_img]:max-w-none animate-infinite-scroll"
    >
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/Logo_C_sharp.svg.png"
          alt="C#"
          width={41.79}
          height={47.76}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/Angular_gradient.png"
          alt="Angular logo"
          width={44.77}
          height={47.76}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/React.webp"
          alt="React logo"
          width={55.71}
          height={55.71}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/nodejs-1-logo-png-transparent.png"
          alt="NodeJs logo"
          width={53.72}
          height={32.83}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/pngimg.com - mysql_PNG23.png"
          alt="MySQL logo"
          width={46.76}
          height={46.76}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/sql-server-icon.webp"
          alt="SQL Server logo"
          width={48.75}
          height={40.79}
        />
      </li>
    </ul>
    <ul
      class="flex items-center justify-center md:justify-start [&_li]:mx-2 [&_img]:max-w-none animate-infinite-scroll"
    >
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/Logo_C_sharp.svg.png"
          alt="C#"
          width={41.79}
          height={47.76}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/Angular_gradient.png"
          alt="Angular logo"
          width={44.77}
          height={47.76}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/React.webp"
          alt="React logo"
          width={55.71}
          height={55.71}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/nodejs-1-logo-png-transparent.png"
          alt="NodeJs logo"
          width={53.72}
          height={32.83}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/pngimg.com - mysql_PNG23.png"
          alt="MySQL logo"
          width={46.76}
          height={46.76}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/sql-server-icon.webp"
          alt="SQL Server logo"
          width={48.75}
          height={40.79}
        />
      </li>
    </ul>
    <ul
      class="flex items-center justify-center md:justify-start [&_li]:mx-2 [&_img]:max-w-none animate-infinite-scroll"
    >
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/Logo_C_sharp.svg.png"
          alt="C#"
          width={41.79}
          height={47.76}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/Angular_gradient.png"
          alt="Angular logo"
          width={44.77}
          height={47.76}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/React.webp"
          alt="React logo"
          width={55.71}
          height={55.71}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/nodejs-1-logo-png-transparent.png"
          alt="NodeJs logo"
          width={53.72}
          height={32.83}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/pngimg.com - mysql_PNG23.png"
          alt="MySQL logo"
          width={46.76}
          height={46.76}
        />
      </li>
      <li
        class="bg-[#FFF] h-[56.71px] w-[56.71px] flex items-center justify-center rounded-[8.95px]"
      >
        <Image
          src="/imagenes-herramientas/sql-server-icon.webp"
          alt="SQL Server logo"
          width={48.75}
          height={40.79}
        />
      </li>
    </ul>
  </div>

  <!-- Sombra derecha -->
  <div
    class="absolute inset-y-0 -right-1 w-24 z-10 pointer-events-none"
    style="background: linear-gradient(to left, #191a1eed, transparent);"
  >
  </div>
</div>
