---
import BaseLayoutEN from "@layouts/BaseLayoutEN.astro";
import CumtualElevamos from "@components/SVG/CumtualElevamos.astro";
import InsiginaCalidad from "@components/SVG/InsigniaCalidad.astro";
import SlideIcon from "@components/SVG/SlideIcon.astro";

import InsigniaAdaptabilidad from "@components/SVG/InsigniaAdaptabilidad.astro";

import DesarrolloIcon from "@components/SVG/DesarrolloIcon.astro";
import DesarrolloIconPC from "@components/SVG/DesarrolloIconPC.astro";
import NubeIcon from "@components/SVG/NubeIcon.astro";
import NubeIconPC from "@components/SVG/NubeIconPC.astro";
import LogoIcon from "@components/SVG/LogoIcon.astro";
import LogoIconPC from "@components/SVG/LogoIconPC.astro";
import HerramientasDesarrollo from "@components/SVG/HerramientasDesarrollo.astro";
import { Form } from '@components/ComponentesEN/Form'

import "@styles/globals.css";

const pageTitle = "Home";
const description =
  "Empresa dedicada a la creación de páginas web, diseño de marcas y almacenamiento web.";
const url = "en-US/";
---

<BaseLayoutEN pageTitle={pageTitle} description={description} url={url}>
  <article
    class="flex flex-col justify-center items-center h-[550px] px-[70px]"
  >
    <CumtualElevamos />
    <div class="mt-20">
      <button type="button" onclick="document.getElementById('form').scrollIntoView({behavior: 'smooth'});" class="btn btn-white btn-animated">
        Contact us
      </button>
    </div>
    <div class="mt-20 svg-icon">
      <SlideIcon />
    </div>
  </article>
  <article
    class="flex flex-col justify-center items-center text-center mt-20 px-[30px]"
  >
    <p
      class="font-[600] text-[14px] md:w-[790px] leading-[18.19px] md:text-[20px] md:leading-[25.99px]"
    >
      We are a company dedicated to <span class="text-[#FFF]"
        >creating websites, brand design, and web hosting,</span
      > focused on providing personalized digital solutions for startups that
      <span class="text-gradient">
        seek to establish or improve their online presence.</span
      >
    </p>
  </article>
  <article class="md:flex md:justify-center md:mt-24 px-[30px]">
    <div class="md:flex md:justify-between md:items-start md:w-[754px]">
      <section
        class="flex flex-col justify-start items-center md:items-start mt-10 gap-2 text-center md:text-start md:w-[275px] md:h-[227.38px]"
      >
        <InsiginaCalidad />
        <p
          class="text-[#FFF] font-bold text-[14px] md:text-[20px] md:leading-[25.99px] leading-[18.19px]"
        >
          Quality
        </p>
        <p class="text-[14px] leading-[18.19px] md:text-[20px] md:leading-[25.99px]">
          We are committed to delivering high-quality products and services that
          exceed our clients expectations and ensure their success.
        </p>
      </section>
      <section
        class="flex flex-col justify-start items-center md:items-start mt-10 gap-2 text-start md:w-[275px] md:h-[227.38px]"
      >
        <InsigniaAdaptabilidad />
        <p
          class="text-[#FFF] font-bold text-[14px] md:text-[20px] md:leading-[25.99px]"
        >
          Adaptability
        </p>
        <p
          class="text-[14px] md:text-[20px] md:leading-[25.99px] font-[400] text-justify"
        >
          We embrace change as an opportunity to grow <br
            class="hidden md:block"
          />and continuously improve.
        </p>
      </section>
    </div>
  </article>
  <article
    class="mt-[28px] md:mt-[18px] ejemplo md:flex md:justify-center px-[30px]"
  >
    <section class="flex flex-col justify-start gap-2 text-center">
      <h2 class="font-[600] text-[#FFF] text-[24px] text-start">
        Our services
      </h2>
      <div class="flex gap-4 w-full mt-[10px] md:justify-center">
        <a
          class="bg-[#353536] rounded-[9px] w-1/2 md:w-[367px] md:h-[251.72px] h-[173px] flex flex-col justify-center items-center text-[#FFF] gap-5 relative" href="/en-US/services/custom-web-development"
        >
          <div class="flex justify-center items-center mt-4 w-full md:hidden">
            <NubeIcon />
          </div>
          <div class="justify-center items-center w-full hidden md:flex ">
            <NubeIconPC />
          </div>
          <p
            class="font-[600] text-[#FFF] text-[15.46px] text-center px-2 w-full leading-[20.09px] md:h-[40px] text-gradient-animated"
          >
          Cloud storage
          </p>
        </a>
        <a
          class="bg-[#353536] rounded-[9px] w-1/2 md:w-[367px] md:h-[251.72px] h-[173px] flex flex-col justify-center items-center text-[#FFF] gap-5 relative" href="/en-US/services/logos"
        >
          <div class="flex justify-center items-center w-full md:hidden">
            <LogoIcon />
          </div>
          <div class="hidden justify-center items-center w-full md:flex">
            <LogoIconPC />
          </div>
          <div class="px-2 w-full">
            <p
              class="font-[600] text-[#FFF] text-[15.46px] text-center leading-[20.09px] px-2 md:text-center md:h-[40px] text-gradient-animated"
            >
              Logos
            </p>
          </div>
        </a>
      </div>
      <div class="flex gap-5 w-full md:justify-center">
        <a
          class="bg-[#353536] rounded-[9px] w-full h-[173px] md:w-[754px] md:h-[251.33px] flex flex-col justify-center items-center text-[#FFF] mt-2 gap-5" href="/en-US/services/custom-web-development"
        >
          <div class="flex justify-center items-center w-full md:hidden">
            <DesarrolloIcon />
          </div>
          <div class="hidden justify-center items-center w-full md:flex">
            <DesarrolloIconPC />
          </div>
          <div class="px-2 w-full">
            <p
              class="font-[600] text-[#FFF] text-[15.46px] text-center px-2 self-end md:text-center leading-[20.09px] text-gradient-animated"
            >
              Custom web development
            </p>
          </div>
        </a>
      </div>
    </section>
  </article>
  <article class="mt-[48px] ejemplo md:flex md:justify-center px-[30px]">
    <section class="md:w-[754px]">
      <h2 class="font-[600] text-[#FFF] text-[24px]">
        Development tools
      </h2>
      <div class="mt-[18px]">
        <HerramientasDesarrollo />
      </div>
    </section>
  </article>
  <article
    class="mt-[48px] flex flex-col justify-center items-center text-center gap-2 px-[30px]"
  >
    <h2 class="text-gradient font-[600] text-[25px] leading-[32.49px]">
      Take your business to the virtual summit.
    </h2>
    <p class="font-[600] text-[14px] leading-[18.19px]">
      We will assist you within 30 minutes, and you will receive your quote in less than 24 hours.
    </p>
  </article>
  <article class="text-center flex flex-col justify-center px-[30px]">
    <!-- <h2 class="text-gradient text-[25px] font-[600] leading-[32.49px]">
      Lleva tu negocio a la cumbre virtual
    </h2> -->
    <div class="w-full md:flex justify-center mt-[48px]" id="form">
      <Form />
    </div>
  </article>
</BaseLayoutEN>
