---
"";
import "../styles/globals.css";
---

<body>
  <script>
    const userLang = navigator.language;

    if (userLang.startsWith("es")) {
      window.location.href = "/es-ES"; // Redirigir a la página en español
    } else if (userLang.startsWith("en")) {
      window.location.href = "/en-EU"; // Redirigir a la página en inglés
    } else {
      // En caso de que el idioma no sea reconocido, redirigir a una página predeterminada
      window.location.href = "/es-ES"; // O cualquier página por defecto
    }
  </script>
</body>
