---
import BaseLayoutES from "../../../../layouts/BaseLayoutES.astro";
import "../../../../styles/globals.css";
const pageTitle = "Almacenamiento en la nube";
import ContactanosBoton from "../../../../components/ComponetesES/ContactanosBoton.astro";
---

<BaseLayoutES pageTitle={pageTitle}>
  <article class="p-2 text-center flex flex-col gap-8 mt-16" >
    <section>
      <h1 class="font-[600] text-[24px] text-[#FFF] text-center">
        Almacenamiento en la nube
      </h1>
      <p class="text-[#7C7C7C] font-[600] text-[14px]">
        Una manera <span class="text-gradient"
          >segura de acceder y guardar datos
        </span> en <span class="text-[#FFF]"
          >diferentes dispositivos en tiempo real</span
        >, útil para equipos de trabajo ó almacenamiento personal.
      </p>
    </section>
  </article>
  <article>
    <section
      class="mt-16 bg-[#26282D] rounded-[9px] text-center flex flex-col items-center gap-4 py-6 px-1"
    >
      <div class="flex flex-col items-center gap-4 py-3 px-1">
        <div>
          <svg
            width="36"
            height="21"
            viewBox="0 0 36 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
           
          >
            <path
              d="M31.5 19.5H22.5V15H19.95C18.3 18.6 14.55 21 10.5 21C4.65 21 0 16.35 0 10.5C0 4.65 4.65 0 10.5 0C14.55 0 18.3 2.4 19.95 6H36V15H31.5V19.5ZM25.5 16.5H28.5V12H33V9H17.85L17.55 7.95C16.5 4.95 13.65 3 10.5 3C6.3 3 3 6.3 3 10.5C3 14.7 6.3 18 10.5 18C13.65 18 16.5 16.05 17.55 13.05L17.85 12H25.5V16.5ZM10.5 15C7.95 15 6 13.05 6 10.5C6 7.95 7.95 6 10.5 6C13.05 6 15 7.95 15 10.5C15 13.05 13.05 15 10.5 15ZM10.5 9C9.6 9 9 9.6 9 10.5C9 11.4 9.6 12 10.5 12C11.4 12 12 11.4 12 10.5C12 9.6 11.4 9 10.5 9Z"
              fill="url(#paint0_linear_398_3735)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_398_3735"
                x1="-1.78814e-07"
                y1="14"
                x2="36"
                y2="14"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2 class="font-[600] text-[#FFF] text-[15.46px]">Accesibilidad:</h2>
        <p class="text-[14px]">
          Accede a tus archivos desde cualquier dispositivo conectado a
          Internet, lo que facilita el trabajo desde casa y la colaboración
          entre equipos.
        </p>
      </div>
    </section>
    <section
      class="mt-16 bg-[#26282D] rounded-[9px] text-center flex flex-col items-center gap-4 py-6 px-1"
    >
      <div class="flex flex-col items-center gap-4 py-3 px-1">
        <div>
          <svg
            width="34"
            height="19"
            viewBox="0 0 34 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
           
          >
            <path
              d="M32.9092 1.17982L32.9111 1.18419C32.9679 1.31205 32.9979 1.44851 33 1.58613V9.49541C33 9.77569 32.8841 10.0489 32.6707 10.2537C32.4566 10.4591 32.1619 10.578 31.8505 10.578C31.5391 10.578 31.2444 10.4591 31.0302 10.2537C30.8168 10.0489 30.701 9.77569 30.701 9.49541V5.39656V4.22266L29.8545 5.03603L19.479 15.0062L19.4778 15.0074C19.3719 15.1099 19.2447 15.1923 19.1031 15.2489C18.9615 15.3055 18.8089 15.3349 18.6543 15.3349C18.4997 15.3349 18.3471 15.3055 18.2055 15.2489C18.0639 15.1923 17.9367 15.1099 17.8308 15.0074L17.8298 15.0065L12.4029 9.78399L12.0564 9.45054L11.7097 9.78379L2.98375 18.1714L2.98262 18.1725C2.87666 18.275 2.74947 18.3574 2.60788 18.414C2.46625 18.4706 2.31366 18.5 2.15909 18.5C2.00451 18.5 1.85192 18.4706 1.7103 18.414C1.5687 18.3574 1.44152 18.275 1.33556 18.1725L1.3326 18.1697C1.22576 18.068 1.14214 17.9482 1.08548 17.8177C1.02885 17.6873 1 17.5482 1 17.4083C1 17.2683 1.02885 17.1292 1.08548 16.9988L0.62686 16.7996L1.08549 16.9988C1.14214 16.8683 1.22576 16.7485 1.3326 16.6469L1.33408 16.6454L11.2312 7.15002L11.2327 7.1486C11.3386 7.0461 11.4658 6.96369 11.6074 6.90709C11.7491 6.85049 11.9016 6.8211 12.0562 6.8211C12.2108 6.8211 12.3634 6.85049 12.505 6.90709C12.6466 6.96369 12.7738 7.0461 12.8797 7.1486L12.8807 7.14949L18.3076 12.372L18.6538 12.7051L19.0005 12.3725L28.2213 3.52594L29.1185 2.66514H27.8751H23.6029C23.2915 2.66514 22.9968 2.54626 22.7826 2.34081C22.5692 2.13604 22.4533 1.86284 22.4533 1.58257C22.4533 1.3023 22.5692 1.02909 22.7826 0.824324C22.9968 0.618878 23.2915 0.5 23.6029 0.5H31.8473C31.9994 0.502095 32.1492 0.53262 32.288 0.589407L32.288 0.589426L32.2922 0.591095C32.5765 0.704371 32.796 0.918415 32.9092 1.17982Z"
              fill="url(#paint0_linear_403_3741)"
              stroke="url(#paint1_linear_403_3741)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_403_3741"
                x1="0.5"
                y1="6"
                x2="33.5"
                y2="6"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_403_3741"
                x1="0.5"
                y1="5.5"
                x2="33.5"
                y2="5.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2 class="font-[600] text-[#FFF] text-[15.46px]">Escalabilidad</h2>
        <p class="text-[14px]">
          Ajusta la capacidad de almacenamiento según lo necesitas, sin requerir
          hardware físico adicional.
        </p>
      </div>
    </section>
    <section
      class="mt-16 bg-[#26282D] rounded-[9px] text-center flex flex-col items-center gap-4 py-6 px-1"
    >
      <div class="flex flex-col items-center gap-4 py-3 px-1">
        <div>
          <svg
            width="16"
            height="30"
            viewBox="0 0 16 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            
          >
            <path
              d="M7.82844 29.5H7.82724L8.15726 23.3333V23.8333C8.15743 23.8333 8.15761 23.8333 8.15779 23.8333C9.36237 23.8332 10.4176 23.5582 11.2975 22.9815C12.2456 22.3601 12.6987 21.389 12.6999 20.1672V20.1667C12.6999 19.0821 12.3577 18.1704 11.6349 17.4907C11.2726 17.1501 10.7116 16.8193 9.99589 16.4896C9.27112 16.1557 8.35102 15.8067 7.24088 15.4417L7.24089 15.4417L7.23586 15.4401C4.89731 14.6985 3.38605 13.8384 2.59892 12.9072C1.80305 11.9657 1.39701 10.8124 1.39701 9.41667C1.39701 7.72716 1.93171 6.47388 2.95684 5.58635C4.05521 4.63541 5.14693 4.12154 6.2342 3.99674L6.67719 3.9459V3.5V1.66667C6.67719 1.31906 6.7885 1.05155 7.00772 0.830117C7.22663 0.60901 7.48816 0.499199 7.82605 0.500004C8.16531 0.500813 8.42892 0.611622 8.64964 0.833015C8.86856 1.05261 8.97892 1.31804 8.9773 1.66434V1.66667V3.5V3.92658L9.39855 3.99376C10.3826 4.1507 11.22 4.46836 11.9221 4.93742C12.6386 5.41611 13.2232 6.00074 13.6803 6.69238L13.6803 6.69242L13.685 6.69935C13.8363 6.92008 13.8735 7.15664 13.7691 7.46444C13.6687 7.76058 13.4699 7.97719 13.1221 8.12151L13.122 8.12146L13.115 8.12448C12.8541 8.23742 12.5888 8.246 12.2905 8.13592C11.9664 8.01631 11.6455 7.79694 11.3309 7.4538C10.926 7.01205 10.448 6.67202 9.90046 6.43716C9.33883 6.19626 8.66961 6.0857 7.9113 6.08334H7.90975C6.6332 6.08334 5.57699 6.36855 4.82049 7.01706C4.08168 7.65039 3.69712 8.46041 3.69712 9.41667C3.69712 10.5174 4.20833 11.3924 5.16522 12.0045C6.05564 12.5741 7.54579 13.1455 9.5856 13.7302C11.4114 14.265 12.7503 15.1006 13.6475 16.2109C14.551 17.329 15.001 18.613 15 20.083V20.0833C15 21.9549 14.4556 23.3017 13.4351 24.2098C12.3612 25.1654 11.0247 25.7678 9.40476 26.0053L8.9773 26.068V26.5V28.3333C8.9773 28.6809 8.86599 28.9484 8.64677 29.1699C8.42786 29.391 8.16633 29.5008 7.82844 29.5ZM6.17719 28.3333H6.67719V28.3327C6.67719 28.3325 6.67719 28.3323 6.67719 28.3322L6.17719 28.3333Z"
              fill="url(#paint0_linear_404_3745)"
              stroke="url(#paint1_linear_404_3745)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_404_3745"
                x1="0.5"
                y1="15"
                x2="15.5"
                y2="15"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_404_3745"
                x1="0.5"
                y1="15"
                x2="15.5"
                y2="15"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#04E95F"></stop>
                <stop offset="1" stop-color="#007BEA"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2 class="font-[600] text-[#FFF] text-[15.46px]">Costos</h2>
        <p class="text-[14px]">
          Elimina la necesidad de adquirir y mantener hardware ya que solo pagas
          por el almacenamiento que utilizas.
        </p>
      </div>
    </section>
    <div class="mt-16 flex justify-center items-center">
        <ContactanosBoton/>
    </div>
  </article>
</BaseLayoutES>
