---
import '../../styles/globals.css'
---

<button class=" btn-animated boton-primary bg-gradient-to-tr from-[#04E95F] to-[#007BEA] w-[139px] h-[39px] rounded-[7px] font-[700] text-[15.33px] ">Contact Us</button>