---
import BaseLayoutES from "../../../layouts/BaseLayoutES.astro";
import '../../../styles/globals.css';
import { Formulario } from "../../../components/ComponetesES/Formulario";
const pageTitle = 'Contáctanos'
---

<BaseLayoutES pageTitle={pageTitle}>
    <h1 class="font-[600] text-[24px] text-[#FFF] mt-16 md:-ml-12">
        Contáctanos
      </h1>
    <p class="text-gradient font-[600] text-[24px] text-center leading-[31.19px] mt-24">Lleva tu empresa a la cumbre virtual.</p>
    <div class="mt-14 md:mt-28 flex justify-center items-center">
        <Formulario client:load/>
    </div>
</BaseLayoutES>