---
import BaseLayoutES from "../../../layouts/BaseLayoutES.astro";
import '../../../styles/globals.css';
import { Formulario } from "../../../components/ComponetesES/Formulario";
const pageTitle = 'Contáctanos'
---

<BaseLayoutES pageTitle={pageTitle}>
    <h1 class="text-gradient font-[600] text-[24px] text-center leading-[31.19px] mt-24">Lleva tu empresa a la cumbre virtual.</h1>
    <div class="mt-14" data-aos="zoom-in-up" data-aos-duration="2000">
        <Formulario client:load/>
    </div>
</BaseLayoutES>