---
import Header from '../components/ComponetesES/Header.astro';
const {pageTitle} = Astro.props;
import { BotonWhatsapp } from '../components/Ui/BotonWhatsapp';
import Footer from '../components/Footer.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cumtual - {pageTitle}</title>
	</head>
	<body class="bg-bg-gray-cumtual">
		<Header idioma="es"/>
        <div class="md:px-40">
			<slot />
		</div>
		<BotonWhatsapp client:load idioma="es" />
		<Footer idioma="es"/>
	</body>
</html>