---
import '../../styles/globals.css';
---

<a href="#" class=" btn btn-white btn-animated">Contáctanos</a>


<!-- bg-gradient-to-tr from-[#04E95F] to-[#007BEA] w-[139px] h-[39px] rounded-[7px] font-[700] text-[15.33px] -->